# USER DEFINE FUNCTION

In [ ]:
# syntax

# .. CREATING A FUNCTION

#  def functionname():
#     function body

# calling a function
 
    # function()

In [6]:
# creating function
def a():
    a=12
    print(a)
a()

12

In [8]:
def add():
    a=12
    b=33
    c=a+b
    print(c)
add()

45

In [12]:
def add(x,y):
    z=x+y
    print(z)
add(776,97)

873

In [16]:
def add(x,y):
    z=x+y
    return z
add(776,97)

873

In [26]:
# FUNCTION WITH ONE ARGUMENT

def fun(a):
    print(a)

    # calling a fiunction
fun(23)

23

In [29]:
# # multiple argument into function

def function(a,b):
    print('A  ',a)
    print('B  ',b)
    
# calling a function

function(12,17)

A   12
B   17

In [35]:
# key words argument

def myfun(ch1,ch2,ch3):
    print(ch1,ch2,ch3)
myfun('ram','shyam','hari')

ram shyam hari

In [40]:
# defualt parameter value
def fun(state='up'):
    print('i am from  ',state)
fun('haryana')
fun('rajsthan')
fun()

i am from   haryana
i am from   rajsthan
i am from   up

In [42]:
# passing a list into function

def myfun(fruit):
    for i in fruit:
        print(i)
    
f = ('apple','mango','banana')
myfun(f)

apple
mango
banana

In [44]:
# return value from function

def myfun(x):
    return 5*x

In [46]:
myfun(4)

20

In [51]:
# recurstion  function

# The function which call itself

def fact(x):
    if x == 1:
        return 1
    else:
        return (x*fact(x-1))
num = int(input('ENTER ANY NUMBER  =  '))
print('The factorial of' ,num,'is  : ',fact(num))

ENTER ANY NUMBER  =  5
The factorial of 5 is  :  120

In [ ]:
# lamda function