In [1]:
# sum of all list
a = [12,3,34,54,54,66,44]
sum = 0
for i in a:
    sum=sum+i
    print(sum)

12
15
49
103
157
223
267

In [10]:
# sum of all list using function
def sum(list):
    sum=0
    for i in list:
        sum=sum+i
    
    print(sum)

In [11]:
sum([23,33,34,33,22,11])

156

In [13]:
# multiply of all list
a = [12,3,34,54,54,66,44]
mul=1

for i in a:
    mul=mul*i
    print(mul)

12
36
1224
66096
3569184
235566144
10364910336

In [16]:
# multiply of all list using ffunction
def mul(list):
    mul=1
    for i in list:
        mul=mul*i
        print(mul)

In [17]:
mul([1,2,3,4,5,6,7,8])

1
2
6
24
120
720
5040
40320

In [18]:
# find the largest number in list
a = [12,3,34,54,54,66,44]
a.sort()

In [19]:
a

[3, 12, 34, 44, 54, 54, 66]

In [21]:
a[-1]

66

In [22]:
# find the largest number in list
max(a)

66

In [23]:
#  find the smallest number uinn the list
min(a)

3

In [24]:
a = ['html','css','c','c++','java','python']
a.count('j')

0

In [26]:
a = [12,3,34,54,54,66,44]
a.count(12)

1

In [2]:
a = [12,3,34,54,54,66,44]
dup = set()
unq = []
for i in a:
    if i not in dup:
        unq.append(i)
        dup.add(i)
print(dup)

{34, 3, 66, 12, 44, 54}

In [9]:
# check empty list
l=[]
if not l:
    print("this is empty list")
else:
    print("this is not empty list")

this is empty list

In [10]:
# copy a list
a = [12,3,34,54,54,66,44]
x= list(a)
print(a)
print(x)

[12, 3, 34, 54, 54, 66, 44]
[12, 3, 34, 54, 54, 66, 44]

In [11]:
a = [12,3,34,54,54,66,44]
for i in a:
    print(a)

[12, 3, 34, 54, 54, 66, 44]
[12, 3, 34, 54, 54, 66, 44]
[12, 3, 34, 54, 54, 66, 44]
[12, 3, 34, 54, 54, 66, 44]
[12, 3, 34, 54, 54, 66, 44]
[12, 3, 34, 54, 54, 66, 44]
[12, 3, 34, 54, 54, 66, 44]

In [12]:
# find number which are divide by 7 and multiple of 5
for i in range(1500,2700):
    if i%7==0 and i%5==0:
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [16]:
l = []
for i in range(1500,2700):
    if i%7==0 and i%5==0:
        l.append(i)
print(l)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

In [25]:
a = 'mom'
b=''
for i in a:
    b=i+b
    print(b)

m
om
mom

In [28]:
a = [12,3,34,54,54,66,44]
even = 0
odd=0
for i in a:
    if i%2==0:
        print('even')
        even=even+1
    else:
        print("odd")
        odd=odd+1
print(even,odd)

even
odd
even
even
even
even
even
6 1

In [32]:
# print each item and its corresponding type from a list

a = [1232,55,78778,1+2j,True,'python','html',(6,-5,64),[55,8],{'class':'x',"age":6454}]

for i in a:
    print(i,type(i))

1232 <class 'int'>
55 <class 'int'>
78778 <class 'int'>
(1+2j) <class 'complex'>
True <class 'bool'>
python <class 'str'>
html <class 'str'>
(6, -5, 64) <class 'tuple'>
[55, 8] <class 'list'>
{'class': 'x', 'age': 6454} <class 'dict'>

In [33]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [ ]:
# genrate two dimention arrey
row_num=int(input("enter the row number  "))
col_num=int(input("enter the coloum numer  ")