# Create  tuple

In [1]:
t = ("apple","mango",1,1,1,2,2,2,.4,.4,43,232,232,98)
print("current tuple ",t)

current tuple  ('apple', 'mango', 1, 1, 1, 2, 2, 2, 0.4, 0.4, 43, 232, 232, 98)

In [5]:
# lenght
print("lenght of tuple",len(t))

lenght of tuple 14

In [6]:
# INDEXING AND SLICING
t

('apple', 'mango', 1, 1, 1, 2, 2, 2, 0.4, 0.4, 43, 232, 232, 98)

In [13]:
print('index value ',t[1])

index value  mango

In [14]:
print(t[1:9])

('mango', 1, 1, 1, 2, 2, 2, 0.4)

In [15]:
# last value
print(t[-1])

98

In [18]:
print(t[:12])

('apple', 'mango', 1, 1, 1, 2, 2, 2, 0.4, 0.4, 43, 232)

In [21]:
# convert tuple into list

print("BEFORE CHANGE ",t)

BEFORE CHANGE  ('apple', 'mango', 1, 1, 1, 2, 2, 2, 0.4, 0.4, 43, 232, 232, 98)

In [22]:
type(t)

tuple

In [23]:
a=list(t)

In [26]:
print("AFTER CHANGE ",a)

AFTER CHANGE  ['apple', 'mango', 1, 1, 1, 2, 2, 2, 0.4, 0.4, 43, 232, 232, 98]

# TUPLE CONSTRUCTURE

In [29]:
x = tuple(('hello','python',23,43,23,98))
print(x)
type(x)

('hello', 'python', 23, 43, 23, 98)

tuple

In [30]:
# add item but after convering tuple into list

In [42]:
y = ('mange','banana','apple','cherry','greaps')
print("BEFORE CONVERT  ",y)
print(type(y))

# CONVERT TUPLE INTO LIST

x = list(y)
print("after change  ",x)
print(type(x))

#  add into  list

x[1:3] = ['kivi','orenge']
print(x)

# convert into tuple

t = tuple(x)
print(t)
print(type(t))

BEFORE CONVERT   ('mange', 'banana', 'apple', 'cherry', 'greaps')
<class 'tuple'>
after change   ['mange', 'banana', 'apple', 'cherry', 'greaps']
<class 'list'>
['mange', 'kivi', 'orenge', 'cherry', 'greaps']
('mange', 'kivi', 'orenge', 'cherry', 'greaps')
<class 'tuple'>

In [43]:
# LOOP WITH TUPLE

#for loop

t1 = ('css','html','python','javascript','c','c++')
for i in t1:
    print(i)

css
html
python
javascript
c
c++

In [44]:
# while loop

t1

('css', 'html', 'python', 'javascript', 'c', 'c++')

In [50]:
t1 = ('css','html','python','javascript','c','c++')
i=0
while i<len(t1):
    print(t1[i])
    i=i+1
else:
    print()
    print("LOOP FINISH")

css
html
python
javascript
c
c++

LOOP FINISH

In [60]:
# HOW TO CAMPARE TUPLE

t1=(1,2,3,4)
t2=(5,6,7,8)

# tuple1 is equal to tuple2

print(t1==t2)
  
    # not equal 
print(t1!=t2)

# less and more

print(t1>t2)

False
True
False

In [2]:
a =(1,2,3,4,5,6,7,8)
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6, 7, 8)
<class 'tuple'>

In [3]:
b=list(a)
print(b)
print(type(b))

[1, 2, 3, 4, 5, 6, 7, 8]
<class 'list'>